<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nexustech.comicfire">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity android:name=".activities.MyCharactersActivity"></activity>
        <activity android:name=".activities.ViewCommentActivity" />
        <activity android:name=".activities.QuizDetailsActivity" />
        <activity android:name=".activities.QuizCompetitionActivity" />
        <activity android:name=".activities.ViewAllQuizActivity" />
        <activity android:name=".activities.EditPostActivity" />
        <activity android:name=".activities.UsersPostsActivity" />
        <activity android:name=".activities.CreateMemeActivity" />
        <activity android:name=".activities.MemeDetailsActivity" />
        <activity android:name=".activities.ViewAllMemesActivity" />
        <activity android:name=".activities.UserProfileActivity" />
        <activity android:name=".activities.ViewSinglePostActivity" />
        <activity android:name=".activities.CreateNewPostActivity" />
        <activity android:name=".activities.BottomBarActivity" />
        <activity android:name=".activities.SignInActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.ViewAllCharsActivity" />
        <activity android:name=".activities.ViewFriendsListActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>